<section class="hero" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(<%= asset_path 'hero-image.jpeg' %>)">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        For you, your baby and the world.
      </h1>

      <p class="subtitle">
        Receive a monthly or bi-monthly curation of sustainable maternity and nursing clothes, and simply send them back to us when you no longer need them
      </p>
    </div>
  </div>
</section>
