.hero {
  background: $color-background-dark;
  background-position: center;
  background-size: cover;
  height: 80vh;
  color: $color-copy-bright;
  padding: 10rem 0;

  &__container {
    @extend %section-spacings;
    display: flex;
  }
}
